[package]
name = "httpmock"
version = "0.6.5"
authors = ["Alexander Liesenfeld <alexander.liesenfeld@outlook.com>"]
edition = "2018"
description = "HTTP mocking library for Rust"
readme = "README.md"
keywords = ["http", "mock", "test"]
categories = ["development-tools::testing"]
license = "MIT"
repository = "https://github.com/alexliesenfeld/httpmock"

[dependencies]

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_regex = "1.1"
lazy_static = "1.4"
hyper = { version = "0.14", features = ["server", "http1", "tcp"] }
tokio = { version = "1.13", features = ["sync", "macros", "rt-multi-thread", "signal"] }
isahc = "1.6"

base64 = "0.13"
regex = "1.5"
log = "0.4"
qstring = "0.7"
assert-json-diff = "2.0"
async-trait = "0.1"
async-object-pool = "0.1"
crossbeam-utils = "0.8"
futures-util = "0.3"
basic-cookies = "0.1"
similar = "2.1.0"
levenshtein = "1.0"
form_urlencoded = "1.0"

colored = { version = "2.0", optional = true }
clap = { version = "3.0.0-rc.7", features = ["derive", "env"], optional = true }
env_logger = { version = "0.9", optional = true }
serde_yaml = { version = "0.8", optional = true }

[dev-dependencies]
env_logger = "0.9"
tokio-test = "0.4"
async-std = { version = "1.10", features = ["attributes", "unstable"] }
isahc = { version = "1.6", features = ["json"] }
syn = { version = "1.0", features = ["full"] }
quote = "1.0"
actix-rt = "2.4"
colored = "2.0"
ureq = "2.3"

[features]
standalone = ["clap", "env_logger", "serde_yaml"]
color = ["colored"]

[[bin]]
name = "httpmock"
required-features = ["standalone"]
