[package]
name = "httpmock"
version = "0.6.7-alpha.0"
authors = ["Alexander Liesenfeld <alexander.liesenfeld@outlook.com>"]
edition = "2018"
description = "HTTP mocking library for Rust"
readme = "README.md"
keywords = ["http", "mock", "test"]
categories = ["development-tools::testing"]
license = "MIT"
repository = "https://github.com/alexliesenfeld/httpmock"

[dependencies]

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_regex = "1.1"
lazy_static = "1.4"
hyper = { version = "0.14", features = ["server", "http1", "tcp"] }
tokio = { version = "1.22", features = ["sync", "macros", "rt-multi-thread", "signal"] }
isahc = "1.7"

base64 = "0.13"
regex = "1.7"
log = "0.4"
url = "2.3"
assert-json-diff = "2.0"
async-trait = "0.1"
async-object-pool = "0.1"
crossbeam-utils = "0.8"
futures-util = "0.3"
similar = "2.2"
levenshtein = "1.0"
form_urlencoded = "1.1"

basic-cookies = { version = "0.1", optional = true }
colored = { version = "2.0", optional = true }
clap = { version = "4.0", features = ["derive", "env"], optional = true }
env_logger = { version = "0.9", optional = true }
serde_yaml = { version = "0.9", optional = true }

[dev-dependencies]
env_logger = "0.9"
tokio-test = "0.4"
async-std = { version = "1.12", features = ["attributes", "unstable"] }
isahc = { version = "1.7", features = ["json"] }
syn = { version = "1.0", features = ["full"] }
quote = "1.0"
actix-rt = "2.7"
colored = "2.0"
ureq = "2.5"

[features]
default = ["cookies"]
standalone = ["clap", "env_logger", "serde_yaml"]
color = ["colored"]
cookies = ["basic-cookies"]

[[bin]]
name = "httpmock"
required-features = ["standalone"]
